@use '../../../../../src/styles/utils/mixins.scss' as *;
@use '../../../../styles/utils/variables.scss' as variables;

.swiperPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.imageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiperButtonPrev,
.swiperButtonNext {
  display: none;

  @include screen-width(tablet) {
    display: block;
    height: auto;
    width: 32px;

    border: 1px solid;
    border-color: variables.$surface2;
    background-color: variables.$surface2;

    cursor: pointer;

    color: variables.$white;
  }
}

.swiperWrapper {
  display: flex;
  gap: 16px;
  padding-top: 56px;

  @include screen-width(tablet) {
    padding-inline: 24px;
  }

  @include screen-width(desktop) {
    padding-inline: 152px;
  }
}
