.swiper-pagination-bullet {
  width: 14px;
  height: 4px;
  background-color: #89939a;
  background-color: var(--elements);
  opacity: 1;
  border-radius: 0;
  margin: 0 4px 10px;
}

.swiper-pagination-bullet-active {
  background-color: var(--border-button);
}
