@import '../../styles//utils/variables.scss';

.footer {
  display: block;
  text-align: left;
  padding-block: 32px;
  padding-inline: 16px;
  border-top: 1px solid $elements;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 32px;
}

.button {
  background-color: $surface2;
  height: 32px;
  width: 32px;
  border: 1px solid $surface2;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: $secondary;
  cursor: pointer;
}

.links {
  display: flex;
  margin-top: 0;
  gap: 16px;
  flex-direction: column;
}

.link {
  color: $secondary;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: $white;
}

.to_top {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: center;
}

.label {
  color: $secondary;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
  }

  .links {
    gap: 106px;
    flex-direction: row;
  }

  .to_top {
    margin-top: 0;
  }

  .logo {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 152px;
  }

  .links {
    gap: 106px;
    flex-direction: row;
  }
}
