@use '../../styles/utils/variables.scss' as *;
@use '../../styles/utils/mixins.scss' as *;

.footer {
  display: block;
  text-align: left;
  padding-block: 32px;
  padding-inline: 16px;
  border-top: 1px solid $elements;
}

.wrapper {
  display: flex;
  flex-direction: column;

  @include screen-width(tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
  }

  @include screen-width(desktop) {
    padding-inline: 152px;
  }
}

.logo {
  margin-bottom: 32px;

  @include screen-width(tablet) {
    margin-bottom: 0;
  }
}

.button {
  background-color: $surface2;
  height: 32px;
  width: 32px;
  min-width: 32px;
  border: 1px solid $surface2;
  transition: background-color 0.3s;

  &:hover {
    background-color: $secondary;
    cursor: pointer;
  }
}

.links {
  display: flex;
  margin-top: 0;
  gap: 16px;
  flex-direction: column;
  width: 100%;

  @include screen-width(tablet) {
    justify-content: space-evenly;
    flex-direction: row;
  }
}

.link {
  color: $secondary;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $white;
  }
}

.to_top {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: center;
  min-width: 118px;

  @include screen-width(tablet) {
    margin-top: 0;
  }
}

.label {
  color: $secondary;
  margin-right: 16px;
}
