@use '../../../../styles/utils/mixins.scss' as *;
@use '../../../../styles/utils/variables.scss' as *;

.photosBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include screen-width(tablet) {
    flex-direction: row-reverse;
  }
}

.mainPhoto {
  width: 288px;
  height: 288px;

  img {
    height: 100%;
  }

  @include screen-width(desktop) {
    width: 464px;
    height: 464px;
  }
}

.thumbnailColumn {
  display: flex;
  justify-content: center;
  gap: 8px;

  @include screen-width(tablet) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.thumbnailWrapper {
  cursor: pointer;
  border: 2px solid $elements;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;
  height: 50px;

  &.selected {
    border: 2px solid $white;
    border-radius: 4px;
  }

  @include screen-width(tablet) {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
  }

  @include screen-width(desktop) {
    height: 80px;
    width: 80px;
  }
}

.thumbnail {
  height: 100%;
}

.container {
  display: flex;
}
