@use '../../../../styles/utils/mixins.scss' as *;
@use '../../../../styles/utils/variables.scss' as *;

.photosBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  gap: 16px;

  @include screen-width(tablet) {
    flex-direction: row-reverse;
  }
}

.mainPhoto {
  display: flex;
  justify-content: center;
  width: 288px;
  height: 288px;

  img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  @include screen-width(desktop) {
    width: 464px;
    height: 464px;
  }
}

.thumbnailColumn {
  display: flex;
  width: 288px;
  justify-content: flex-start;
  gap: 8px;

  @include screen-width(tablet) {
    width: 35px;
    height: 208px;
    flex-direction: column;
  }

  @include screen-width(desktop) {
    width: 80px;
    height: 464px;
  }
}

.thumbnailWrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 2px solid $elements;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;

  width: 52px;
  height: 50px;

  &.selected {
    border: 2px solid $white;
    border-radius: 4px;
  }

  @include screen-width(tablet) {
    width: 35px;
    height: 35px;
  }

  @include screen-width(desktop) {
    width: 80px;
    height: 80px;
  }
}

.thumbnail {
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;

  @include screen-width(tablet) {
    width: 236px;
    height: 436px;
  }
}

.characteristics {
  width: 288px;
  height: 436px;

  @include screen-width(tablet) {
    width: 236px;
    height: 436px;
  }
}
