@import '../../../styles/utils/mixins.scss';

.container {
  display: grid;
  margin: 0 auto;
  gap: 16px;

  grid-template-columns: repeat(4, 32px);

  @include screen-width(tablet) {
    grid-template-columns: repeat(12, 32px);
    @include padding-inline();
  }

  @include screen-width(desktop) {
    grid-template-columns: repeat(24, 32px);
    @include padding-inline();
  }
}

.item {
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
}
