.buttonOfHeart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: var(--icons);
  }

  &.active {
    background-color: transparent;
    border: 1px solid var(--icon-border);
  }

  &.lightTheme {
    background-color: var(--surface1);
    border: 1px solid var(--border-card);

    &:hover {
      border: 1px solid var(--active-button-hover);
    }
  }

  &.darkTheme {
    background-color: var(--surface2);

    &:hover {
      background-color: var(--icon-hover-dark);
    }
  }
}
