@use '../../styles/utils/variables.scss' as variables;

.buttonOfHeart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  background-color: variables.$surface2;
  cursor: pointer;
  border: 0;
  box-sizing: border-box;

  &:hover {
    background-color: variables.$icons;
  }
}
