@use '../../styles/utils/variables.scss' as *;

.title {
  margin-bottom: 8px;
}

.countOfModels {
  color: $secondary;
  margin-bottom: 8px;
}

.not_found {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  line-height: 50px;
}
