@use '../../../../styles/index.scss' as *;
@use '../../../../styles/utils/variables.scss' as *;
@use '../../../../styles/utils/mixins.scss' as mixins;

.title {
  padding-top: 40px;
  width: 100%;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $elements;
    margin: 16px 0 30px;
  }

  @include mixins.screen-width(tablet) {
    padding-top: 0;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include mixins.screen-width(tablet) {
    width: 100%;
  }
}

.tech_specs_title {
  color: $secondary;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  padding-bottom: 8px;
}

.tech_specs_description {
  color: $white;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  display: flex;
  justify-content: flex-end;
}

.tech_specs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tech_spec {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
