@use '../../../../styles/index.scss' as *;
@use '../../../../styles/utils/variables.scss' as *;

.title {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $elements;
    margin: 16px 0 30px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.tech_specs_title {
  color: $secondary;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.tech_specs_description {
  color: $white;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}
.tech_specs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
