@use '../../../../styles/utils/mixins.scss' as *;

.main {
  margin-bottom: 56px;

  @include screen-width(tablet) {
    margin-bottom: 64px;
  }

  @include screen-width(desktop) {
    margin-bottom: 80px;
  }
}

.container {
  display: grid;
  justify-content: center;
  width: 100%;
  gap: 40px 16px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 256px));
}
