@use '../../../../styles/utils/mixins.scss' as *;
@use '../../../../styles/utils/variables.scss' as *;

.about {
  width: 100%;
  margin: 56px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;

  @include screen-width(tablet) {
    gap: 24px;
  }
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding-block: 32px;
  border-top: 1px solid $elements;
}

.articleTitle {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: $white;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  color: $text;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

@include screen-width(tablet) {
  .text {
    color: $secondary;
  }

  .articleTitle {
    font-size: 20px;
    line-height: 26px;
  }
}
@include screen-width(desktop) {
  .about {
    margin-right: 64px;
    max-width: 560px;
  }
}
