$secondary: #75767f;
$text: #89939a;
$icons: #4a4d58;
$elements: #3b3e4a;
$surface2: #323542;
$surface1: #161827;
$black: #0f1121;
$white: #f1f2f9;
$accent: #905bff;
$accent2: #a378ff;
$green: #27ae60;
$red: #eb5757;
$filter-purple: brightness(0) invert(36%) sepia(93%) saturate(550%)
  hue-rotate(210deg) brightness(95%) contrast(100%);

html {
  --icons: #b4bdc3;
  &.dark {
    --switcher: #4219d0;
    --primary: #0f1121;
    --text: #f1f2f9;
    --secondary: #89939a;
    --icon-border: #4a4d58;
    --icons: #b4bdc3;
    --surface1: #161827;
    --surface2: #323542;
    --surface3: #323542;
    --surface4: #e2e6e9;

    --elements: #3b3e4a;
    --border: #161827;
    --icon-hover-dark: #4a4d58;
    --icon-hover: #4a4d58;

    --active-button: #313237;
    --active-button-hover: #4a4d58;
    --border-button: #f1f2f9;
    --border-card: #0f1121;
    --separator: #3b3e4a;
    --border-default: #323542;
    --filter-icons: brightness(100%) invert(0%) sepia(0%) saturate(0%)
      hue-rotate(0deg) brightness(100%) contrast(100%);
  }

  &.light {
    --switcher: #e0e0e0;
    --primary: #fafbfc;
    --text: #313237;
    --secondary: #89939a;
    --icon-border: #89939a;
    --icons: #4a4d58;
    --surface1: #fafbfc;
    --surface2: #fafbfc;
    --surface3: #e2e6e9;
    --surface4: #323542;

    --elements: #75767f;
    --border: #0f1121;
    --icon-hover-light: #fafbfc;
    --icon-hover: #fafbfc;

    --hover: #905bff;
    --active-button: #313237;
    --active-button-hover: #4a4d58;
    --border-button: #313237;
    --border-card: #e2e6e9;
    --separator: #e2e6e9;
    --border-default: #b4bdc3;

    --filter-icons: brightness(0) invert(50%) sepia(20%) saturate(150%)
      hue-rotate(0deg) brightness(100%) contrast(120%);
  }
}
