@use '../../../../styles/utils/variables.scss' as *;
@use '../../../../styles/utils/mixins.scss' as *;

.container {
  width: 100%;
}

.selections {
  gap: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.title {
  color: var(--secondary);
}

.selection_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--elements);
}

.selection {
  display: flex;
  gap: 8px;
}

.colorButton {
  height: 32px;
  width: 32px;
  border: 1px solid var(--elements);
  border-radius: 50%;
  transition: 0.3s;

  &:hover {
    border: 1px solid var(--border-button);
  }

  &.active {
    border: 1px solid var(--text);
  }
}

.color {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--primary);
}

.capacity {
  border: 1px solid var(--icon-border);
  padding: 8px;
  color: var(--text);
  transition: 0.3s;

  &:hover {
    border: 1px solid var(--active-button-hover);
    background: var(--active-button-hover);
  }

  &.active {
    background: var(--text);
    color: var(--primary);
    border: inherit;

    &:hover {
      background: var(--active-button-hover);
    }
  }
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text);
  margin-bottom: 16px;

  &__actual {
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    margin-right: 8px;
  }

  &__old {
    font-size: 22px;
    font-weight: 600;
    line-height: 28.12px;
    text-decoration: line-through;
    color: var(--secondary);
  }
}

.buttons {
  display: flex;
  gap: 8px;
  max-width: 320px;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 32px;
}

.description dt {
  text-align: left;
  color: var(--secondary);
}

.description dd {
  text-align: right;
}
