@use '../../../styles/utils/mixins.scss' as *;

.margins {
  margin: 24px 0;
  font-size: 32px;
  line-height: 41px;

  @include screen-width(tablet) {
    margin: 32px 0;
    font-size: 48px;
    line-height: 56px;
  }

  @include screen-width(desktop) {
    margin: 56px 0;
    font-size: 48px;
    line-height: 56px;
  }
}

.section {
  margin-bottom: 56px;

  @include screen-width(tablet) {
    margin-bottom: 64px;
  }

  @include screen-width(desktop) {
    margin-bottom: 80px;
  }
}
