@use '../../styles/utils/variables.scss' as *;
@use '../../styles/utils/mixins.scss' as *;

.container_back {
  margin: 40px 0 16px 0;
  display: flex;
  gap: 4px;
}

.back {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0 56px;

  @include screen-width(tablet) {
    margin: 32px 0 64px;
  }

  @include screen-width(desktop) {
    margin: 32px 0 80px;
    flex-direction: row;
  }
}

.card {
  background-color: $surface1;
  width: 100%;
}

.checkout {
  background-color: $surface1;
  width: 100%;
  @include screen-width(desktop) {
    max-width: 206px;
  }
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
