@use '../../styles/utils/variables.scss' as *;
@use '../../styles/utils/mixins.scss' as *;

.container_back {
  margin: 40px 0 16px 0;
  display: flex;
  gap: 4px;
}

.back {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0 56px;

  @include screen-width(tablet) {
    margin: 32px 0 64px;
  }

  @include screen-width(desktop) {
    margin: 32px 0 80px;
    flex-direction: row;
  }
}

.card {
  background-color: $surface1;
  width: 100%;
}

.checkout {
  width: 100%;
  @include screen-width(desktop) {
    max-width: 368px;
  }
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.countOfProducts {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: var(--secondary);
  margin-top: 8px;
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;

  @include screen-width(tablet) {
    flex-direction: row;
    margin: auto;
    gap: 20px;
    margin-top: 0;
  }
}

.icon img {
  width: 80px;
  height: 80px;
  padding-bottom: 14px;

  @include screen-width(tablet) {
    width: 160px;
    height: 160px;
  }

  @include screen-width(desktop) {
    width: 200px;
    height: 200px;
  }
}

.number {
  text-align: center;
  color: $text;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  width: 50vh;
  line-height: 1.25;

  @include screen-width(desktop) {
    font-size: 30px;
  }
}

.text {
  text-align: center;
  color: $text;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  width: 50vh;

  @include screen-width(tablet) {
    font-size: 20px;
    line-height: 1.3;
  }

  @include screen-width(desktop) {
    font-size: 24px;
  }
}
