@use '../../styles/utils/variables.scss' as variables;
@use '../../styles/utils/mixins.scss' as mixins;

.card {
  min-width: 212px;
  padding: 32px;
  gap: 8px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: variables.$surface1;

  @include mixins.screen-width(table) {
    min-width: 237px;
  }

  @include mixins.screen-width(desktop) {
    min-width: 277px;
  }
}

.imgLink {
  display: flex;
  justify-content: center;
}

.photo {
  width: 208px;
  height: 196px;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  padding-top: 16px;
  margin: 0;
  font-family: Mont;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  color: variables.$white;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  color: variables.$white;

  &__actual {
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;
  }

  &__old {
    font-size: 22px;
    font-weight: 600;
    line-height: 28.12px;
    text-decoration: line-through;
    color: variables.$secondary;
  }
}

.separator {
  border: 1px solid variables.$elements;
}

.details {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 15.34px;
  font-weight: 700;
  text-decoration: none;
}

.itemName {
  margin: 0;
  text-align: left;
  color: variables.$secondary;
}

.itemValue {
  margin: 0;
  text-align: right;
  color: variables.$white;
}

.buttons {
  display: flex;
  gap: 8px;
}
