@use '../../styles/utils/variables.scss' as *;
@use '../../styles/utils/mixins.scss' as *;

.card {
  min-width: 212px;
  padding: 32px;
  gap: 8px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--surface1);
  border: 1px solid var(--border);
  border-radius: 4px;

  transition: 0.3s;

  &:hover {
    transform: scale(1.04);
  }
}

.imgLink {
  display: flex;
  justify-content: center;
}

.photo {
  width: 208px;
  height: 196px;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  padding-top: 16px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: Mont;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  color: var(--text);
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text);

  &__actual {
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;
  }

  &__old {
    font-size: 22px;
    font-weight: 600;
    line-height: 28.12px;
    text-decoration: line-through;
    color: $secondary;
  }
}

.separator {
  border: 1px solid $elements;
}

.details {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 15.34px;
  font-weight: 700;
  text-decoration: none;
}

.itemName {
  margin: 0;
  text-align: left;
  color: $secondary;
}

.itemValue {
  margin: 0;
  text-align: right;
  color: var(--text);
}

.buttons {
  display: flex;
  gap: 8px;
}
