@use '../../styles/utils/variables.scss' as *;

.addCard {
  width: 100%;
  height: 40px;
  background-color: $accent;
  color: var(--text);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  border: 0;

  &:hover {
    background-color: $accent2;
  }
}

.addedCard {
  background: var(--surface2);
  border: 1px solid var(--icon-border);

  &:hover {
    background: var(--surface2);
  }
}

.modal {
  display: flex;
  align-items: center;

  &_image {
    height: 28px;
    width: 28px;
  }
}
