@use '../../../src/styles/utils/variables.scss' as *;
@use '../../../src/styles/utils/mixins.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  @include screen-width(tablet) {
    flex-direction: row;
  }
}

.icon img {
  width: 80px;
  height: 80px;
  padding-bottom: 14px;

  @include screen-width(tablet) {
    width: 160px;
    height: 160px;
  }

  @include screen-width(desktop) {
    width: 200px;
    height: 200px;
  }
}

.number {
  text-align: center;
  color: $text;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  width: 50vh;
  line-height: 1.25;

  @include screen-width(desktop) {
    font-size: 30px;
  }
}

.text {
  text-align: center;
  color: $text;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  width: 50vh;

  @include screen-width(tablet) {
    font-size: 20px;
    line-height: 1.3;
  }

  @include screen-width(desktop) {
    font-size: 24px;
  }
}
