.not-found {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  line-height: 2;
  background: var(--primary);

  &__404 {
    font-size: 46px;
  }
}
